@charset "utf-8"
/* Main CSS Stylings */
/* Alexander Elman - 10/9/2011 */

/* reset css */

/* I used the resets attributed below
   retrieved 10/9/2011 from
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body { font-family: font-family: 'Droid Sans', sans-serif; font-size: 14pt;
       background-color: #fff;
       margin-top: 55px;
       width: 100%;
       padding: 0;
     }

/*div { border: 2px solid gray;}*/

/* font styling */

.datelabel {font-family: font-family: 'Droid Sans', sans-serif; font-size: 14pt; text-align: left; padding-bottom: 40px;}

.onewaylabel {font-family: font-family: 'Droid Sans', sans-serif; font-size: 10pt; text-align: left;}

/* Alignment and Layout*/
.halves {height:400px;}
.one {text-align: right; left:0px; margin-top: 10px; margin-bottom: 5px;}
.infobubble {font-size: 10pt; font-color: #000;}
.infobox {font-size: 10pt; font-color: #000;}


#lhs {overflow: auto; width: 60%;}
#rhs {overflow: auto; right: 0px; width: 40%;}

#mycontainer {width: 100%;}
#footer {width: 100%;clear: both;}
#pins {margin-top: 20px; position:absolute;}
#logo { margin-top: 20px;}
#map_canvas {width: 550px; height: 400px; left:50px;}